langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-chroma
duckduckgo-search
streamlit
pandas 
numpy
chromadb
sentence-transformers
protobuf==3.20.*
pysqlite3-binary
